<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <H1> here learning about the web scper </H1> 
    <h1>Enter YouTube Video URL</h1>
    <form method="POST" action="{% url 'quizengine:get_video_comments' %}">
        {% csrf_token %}
        <input type="text" name="video_url" placeholder="Enter YouTube video link" required>
        <button type="submit">Fetch Comments</button>
    </form>

</body>
</html>